  p {
    text-align: center;
    font-size: 1.4rem;
  }
  
  h1 {
    font-size: 3rem;
    text-align: center;
  }

  img.boxy {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

